html {
  font: normal 100%/1.5 sans-serif;
}

.no1 nav ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.no1 nav li {
  display: inline;
}

.no1 nav a {
  display: inline-block;
  width: 6em;
  padding: 1em;
  background-color: #a9af04;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

div.no2 {
  margin: 2em 0;
}

.no2 nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.no2 nav li {
  display: inline;
}

.no2 nav a {
  margin: .1em 0;
  display: inline-block;
  width: 6em;
  padding: 1em;
  background-color: beige;
  color: teal;
  text-decoration: none;
  text-align: center;
}

.no2 nav a:hover{
  color: red;
}